<h2>Приложение по зарплате</h2>


<h4>Сотрудники которые за последний месяц отработали менее среднего кол-ва рабочих часов на человека по фирме: </h4>
{{#each employees}}
    <p>{{ this.fullname }}</p>
{{/each}}